<!DOCTYPE html>
<html>
<head>
  <title>Bloom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <div class='navbar'>
    <a href="/" class="brand">
      <div class='logo'></div>
      Bloom
    </a>
  </div>
  <div class='clearfix'></div>
  <hr>
  <%= render partial: 'flash_messages' %>
</div>


<div class='container'>
  <div class='row'>
    <div class='span12'>
      <%= yield %>
    </div>
  </div>
    <span class='pull-right'>Used technologies: <span class='muted'>rails, gource, ffmpeg, couchbase, redis, aws</span></span>
  <footer class='footer'>
    <hr>
    <span class='pull-right'>hacby 2013</span>
  </footer>

</div>

</body>
</html>
